.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;   
    margin-bottom: 100px;
    background: white;
    width: 600px;
    
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
   
}

.text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    
}

.underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
    
}

.inputs{
    margin-top: 55x;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 60px;
    background: rgb(202, 202, 202);
    border-radius: 6px;
}

.input input{
    height: 30px;
    width: 200px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    color: #3c009d;
    cursor: pointer;

}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: #3c009d;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: rgb(203, 202, 202);
    color: gray;
    
}